{% extends 'gymsyncapp/base.html' %} {% load static %} {% block content %}

<h1 class="site-heading text-center text-white d-none d-lg-block">
  <span class="site-heading-lower">WORKOUTS</span>
</h1>

{% for wk in workouts %}

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img
        class="intro-img img-fluid mb-3 mb-lg-0 rounded"
        src="{{ wk.image.url }}"
        alt=""
        style="width: 50%"
      />
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-lower">{{ wk.name }}</span>
          <span class="section-heading-upper">{{ wk.muscle }}</span>
        </h2>
        <p class="mb-3">
          Descripcion del ejercicio aqui, si no lo sabes sos un peton
        </p>
      </div>
    </div>
  </div>
</section>
{% endfor %} {% endblock %}
